table {
    margin: 1em auto;
}

table th {
    font-weight: normal;
}

table td, table th {
    width: 1.5em;
    height: 1.5;
    text-align: center;
    vertical-align: middle;
}

table tr:nth-child(odd) > td:nth-of-type(odd) {
    background-color: white;
}

table tr:nth-child(even) > td:nth-last-of-type(even) {
    background-color: white;
}

table tr:nth-child(odd) > td:nth-last-of-type(even) {
    background-color: lightgray;
}

table tr:nth-child(even) > td:nth-last-of-type(odd) {
    background-color: lightgray;
}

table tr:nth-child(1) > td {
    border-top: medium solid black;
}

table tr:last-child > td {
    border-bottom: medium solid black;
}

table td:first-of-type {
    border-left: medium solid black;
}

table td:last-of-type {
    border-right: medium solid black;
}

table {
   /* border-collapse: collapse;*/
   border-spacing: 0;
}