@use "sass:math";

%diagonal {
    background-color: burlywood;
}

%dark {
    background-color: darkcyan;
}

%light {
    background-color: salmon;
}

table.sudoku {
    border-collapse: collapse;
    margin: 1em auto;
    border: medium solid black;

    td {
        border: thin solid lightgray;
        width: 2em;
        height: 2em;
        text-align: center;
        vertical-align: middle;
    }

    td:nth-child(3n) {
        border-right: medium solid black;
    }

    tr:nth-child(3n) {
        border-bottom: medium solid black;
    }

    @for $i from 1 through 9 /*vagy to 10*/{  
        tr:nth-child(#{$i}) > td:nth-child(#{$i}) {
            @extend %diagonal;
        }

        tr:nth-child(#{$i}) > td:nth-child(#{10 - $i}) {
            @extend %diagonal;            
        }
    }

    @for $i from 1 through 9 /*vagy to 10*/{  
        @for $j from 1 through 9 {
            tr:nth-child(#{$i}) > td:nth-child(#{$j}){
                @if ((floor(math.div($i - 1, 3)) + floor(math.div($j - 1, 3))) % 2 == 0) {
                    @extend %dark
                } @else{
                    @extend %light
                }
            }
        }
    }
}

